<br><br><br>
<h1> Spanish flu </h1>

<div class="container" align="center">
    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>

<br><br><br>

<div class="bg-dark p-4" style="width:320px;height:500px;border:0px solid #000;border-radius:10px;" id="menu">
  <h4 style="text-align:center;color:lightgrey;top:0;">Contents</h4><br>

  <p style="color:lightgrey;">1.<a style="display:inline;" class="nav-link" href="#">How the flu started?</a></p>
  <p style="color:lightgrey;">2.<a style="display:inline;" class="nav-link" href="#">How many died</a></p>
  <p style="color:lightgrey;">3.<a style="display:inline;" class="nav-link" href="#">Was there any treatment</a></p>
  <p style="color:lightgrey;">4.<a style="display:inline;" class="nav-link" href="#">What doctors said</a></p>
  <p style="color:lightgrey;">5.<a style="display:inline;" class="nav-link" href="#">What were the symtoms</a></p>
  <p style="color:lightgrey;">6.<a style="display:inline;" class="nav-link" href="#">ould it happen again?</a></p>

</div>
<center>This year marks the 100th anniversary of the 1918 influenza (flu) pandemic that swept the globe in what is still one of the deadliest disease outbreaks in recorded history.&nbsp;</center>
<center>It is estimated that about 500 million people or one-third of the world&rsquo;s population became infected with this virus, and the number of deaths was estimated to be at least 50 million worldwide with about 675,000 occurring in the United States. The pandemic was so severe that from 1917 to 1918, life expectancy in the United States fell by about 12 years, to 36.6 years for men and 42.2 years for women. There were high death rates in previously healthy people, including those between the ages of 20 and 40 years old, which was unusual because flu typically hits the very young and the very old more than young adults. The 1918 flu pandemic is sometimes called &ldquo;The Spanish Flu&rdquo; not because it originated in Spain, but because that nation had remained neutral during the war and freely reported news of flu activity.</center>
<center>&nbsp;</center>
<p><strong>The Emerging Pandemic</strong></p>
<center>The 1918 flu pandemic occurred during World War I; close quarters and massive troop movements helped fuel the spread of disease.</center>
<center>In the United States, unusual flu activity was first detected in military camps and some cities during the spring of 1918. For the U.S. and other countries involved in the war, communications about the severity and spread of disease was kept quiet as officials were concerned about keeping up public morale, and not giving away information about illness among soldiers during wartime. These spring outbreaks are now considered a &ldquo;first wave&rdquo; of the pandemic; illness was limited and much milder than would be observed during the two waves that followed.</center>
<p>&nbsp;</p>
<p><strong>Deadly Second Wave and Third Waves</strong></p>
<center>In September 1918, the second wave of pandemic flu emerged at Camp Devens, a U.S. Army training camp just outside of Boston, and at a naval facility in Boston. This wave was brutal and peaked in the U.S. from September through November. More than 100,000 Americans died during October alone. The third and final wave began in early 1919 and ran through spring, causing yet more illness and death. While serious, this wave was not as lethal as the second wave. The flu pandemic in the U.S. finally subsided in the summer of 1919, leaving decimated families and communities to pick up the pieces. Scientists now know this pandemic was caused by an H1N1 virus, which continued to circulate as a seasonal virus worldwide for the next 38 years.</p>
<p>&nbsp;</p>
<p><strong>1918 Flu and President Wilson</strong></p>
<center>While negotiating the end of World War I with other world leaders at the Versailles Peace Conference in April 1919, U.S. President Woodrow Wilson collapsed. Some historians speculate he was weak from flu, which was still widespread in Paris.</center>
<p>&nbsp;</p>
<p><strong>Limited Care and Control Efforts in 1918</strong></p>
<center>In 1918, scientists had not yet discovered viruses so there were no laboratory tests to diagnose, detect, or characterize flu viruses. Prevention and treatment methods for flu were limited. There were no vaccines to protect against flu virus infection, no antiviral drugs to treat flu illness, and no antibiotics to treat secondary bacterial infections like pneumonia. Efforts to prevent the spread of disease were limited to non-pharmaceutical interventions (NPIs), including promotion of good personal hygiene, and implementation of isolation, quarantine, and closures of public settings, such as schools and theaters. Some cities imposed ordinances requiring face masks in public. New York City even had an ordinance that fined or jailed people who did not cover their coughs.</center>
<p>&nbsp;</p>
<p><strong>Preparing For the Next Pandemic</strong></p>
<center>Since the 1918 pandemic, tremendous advancements have been made in the world&rsquo;s understanding and treatment of flu, but flu viruses continue to pose a serious public health threat. A vast reservoir of flu viruses circulating in animals&mdash;mainly birds&ndash;pose an ever-present threat for the emergence of another flu pandemic. For more than 60 years, CDC has worked to address the continuing threat of flu and prepare for the next pandemic.</center>
<center>Flu viruses with pandemic potential can now be detected through a <a href="https://www.cdc.gov/flu/weekly/who-collaboration.htm">global influenza surveillance</a> system that includes 114 World Health Organization member states. CDC&rsquo;s Influenza Division is one of 6 global influenza collaborating centers, helping to monitor and track flu activity worldwide as well as prepare candidate vaccine viruses that can be used to make vaccine. CDC also works with public health partners to monitor and investigate human infections with animal flu viruses. CDC conducts ongoing studies of both human and animal flu viruses in the laboratory to better understand the characteristics of these viruses. CDC also supports state and local governments across the United States and works with the World Health Organization (WHO) and partner countries to increase flu surveillance capabilities and collaborate on pandemic planning.</center>
<center>Seasonal flu vaccines to prevent flu infection are made annually, and pre-pandemic flu vaccines also are produced and stored by the U.S. federal government for possible use during a pandemic event&nbsp; Antiviral drugs used to treat seasonal flu illness are a potential tool for treatment during a flu pandemic. Another major advance since the 1918 pandemic is the introduction of antibiotics for treating secondary bacterial infections such as pneumonia. Some of the many other medical tools introduced since 1918 are ventilators and intensive care units for treating patients, and personal protective equipment such as gloves, gowns and masks which are now standard to protect health care workers from infection.</p>
<p>&nbsp;</p>
<center>Ready and willing, these volunteers were on the forefront of the 1918 pandemic response. Today, influenza viruses continue to pose one of the world&rsquo;s greatest health challenges.</p>
<center>CDC also is working to minimize the impact of future flu pandemics by supporting research that can enhance the use of community mitigation measures (i.e., temporarily closing schools, modifying, postponing, or canceling large public events, and creating physical distance between people in settings where they commonly come in contact with one another).&nbsp; These non-pharmaceutical interventions continue to be an integral component of efforts to control the spread of flu, and in the absence of flu vaccine, would be the first line of defense in a pandemic. Visit <a href="https://www.cdc.gov/mmwr/volumes/66/rr/rr6601a1.htm">Community Mitigation Guidelines to Prevent Pandemic Influenza &mdash; United States, 2017</a></center>
<center>There is still much to do to be ready for the next flu pandemic.&nbsp; There&rsquo;s a need for more broadly effective vaccines that can be made quicker. The global infrastructure to produce and distribute flu vaccines also must be improved. More effective, and less costly, flu treatment drugs are needed.&nbsp; It is also important to improve the surveillance of flu viruses in animals.</center>
<center>In the past 100 years, we&rsquo;ve come a long way in developing methods to track, prevent and treat flu, but we still have a long way to go.&nbsp; As America&rsquo;s premier public health agency, CDC is working with its public health partners to address remaining gaps, increase our pandemic preparedness, and stay one step ahead of the next pandemic.</center>
<center>Visit CDC&rsquo;s Pandemic Influenza <a href="https://www.cdc.gov/flu/pandemic-resources/index.htm">website</a> for more information about past pandemics.</center>
