
<br><br><br><br><br>
<h1>Spanish Flu</h1>
<br>
<div class="container" align="center">
    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>
<br><br><br>
<div class="bg-dark p-4" style="width:320px;height:500px;border:0px solid #000;border-radius:10px;" id="menu">
  <h4 style="text-align:center;color:lightgrey;top:0;">Contents</h4><br>

  <p style="color:lightgrey;">1.<a style="display:inline;" class="nav-link" href="#">How the flu started?</a></p>
  <p style="color:lightgrey;">2.<a style="display:inline;" class="nav-link" href="#">How many died</a></p>
  <p style="color:lightgrey;">3.<a style="display:inline;" class="nav-link" href="#">Was there any treatment</a></p>
  <p style="color:lightgrey;">4.<a style="display:inline;" class="nav-link" href="#">What doctors said</a></p>
  <p style="color:lightgrey;">5.<a style="display:inline;" class="nav-link" href="#">What were the symtoms</a></p>
  <p style="color:lightgrey;">6.<a style="display:inline;" class="nav-link" href="#">ould it happen again?</a></p>

</div>

<br><br><br><br><br>
