
<br><br><br><br><br>
<h1>Spanish Flu</h1>
<br>
<div class="container" align="center">
    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>
<br><br><br>
<div class="bg-dark p-4" style="width:290px;height:500px;border:0px solid #000;color:red;border-radius:10px;" id="menu">
  <br>
  <p style="text-align:center">
    1. <a class "nav-link" href="#First_Sub_Point_1">How the flu started</a>
    2. <a class="nav-link" href="#First_Sub_Point_2">How many died</a>
  </p>
</div>

<br><br><br><br><br>
