<h1> Spanish flu </h1>

<div class="container" align="center">
    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>

<div style="width:210px;height:500px;border:0px solid #000;background:whitesmoke;color:red;" id="menu">
  <br>
  <p style="text-align:center">
    <a style="color:red;" href="#First_Sub_Point_1">1. How the flu started</a><br>
    <a style="color:red;" href="#First_Sub_Point_2">1. How many died</a>
  </p>
</div>
